<!--?xml version="1.0" encoding="UTF-8"?-->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
        
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">projhelpdesk</property>
        <property name="hibernate.connection.password">CMSC495</property>
        <property name="hibernate.connection.url">jdbc:mysql://db4free.net:3306/projhelpdesk</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    	<property name="show_sql">true</property> 
    	<property name="connection.pool_size">1</property>
    	<mapping class="it.helpdesk.datasources.hibernate.Person"></mapping>
		<mapping class="it.helpdesk.datasources.hibernate.Technician"></mapping>
    </session-factory>
</hibernate-configuration>